<nav style="margin-top:10px;" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" [routerLink]="['']">PTC Site</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <!--<li><a [routerLink]="['/AboutUs']">About</a></li>-->
            <!--<li><a [routerLink]="['/ContactUs']">Contact</a></li>-->
            <!--<li><a [routerLink]="['/Analytics']">Analytics</a></li>-->
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Login As <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/login?type=advertiser">Advertiser</a></li>
                    <li><a href="/login?type=contractor">Contractor</a></li>
                </ul>
            </li>
            <!--<li><a routerLink="/Register">Register</a></li>-->
        </ul>
        </div>
    </div>
</nav>