<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
 <connectionStrings>
   <add name="FedKartDataConnection" connectionString="data source=localhost;initial catalog=FedKart;user id =ram;password=ram@123;multipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>